<h2>Содержание</h2>
<ol>
<li>
<p>Введение</p>
</li>
<li>
<p>Лицензионное соглашение</p>
</li>
<li>
<p>Выбор параметров установки</p>
</li>
<li>
<p>Загрузка пакетов</p>
</li>
<li>
<p>Установка пакетов</p>
</li>
</ol>

<h2>Каталоги</h2>
<ol>
<li>
<p>components - пакеты дистрибутива, участвующие в установке.</p>
</li>
<li>
<p>installer - установщик дистрибутива.</p>
</li>
<li>
<p>tools - вспомогательные инструменты.</p>
</li>
<li>
<p>docs - сопроводительная документация.</p>
</li>
<li>
<p>Arduino_Core_Rudiron - ардуино-совместимая библиотека.</p>
</li>
<li>
<p>Rudiron_Projects - шаблоны и примеры проектов.</p>
</li>
</ol>

<h2>Инструкция по установке</h2>
<ol>
<li>
<p>Ознакомьтесь со слайдами, пролистайте их до конца.</p>
</li>
<li>
<p>Нажмите кнопку "Установить".</p>
</li>
<li>
<p>Следуя примерам на слайдах, повторите указанные действия.</p>
</li>
</ol>
